@model PaginacaoViewModel<CargoViewModel>

@{
    ViewData["Title"] = "Lista de Cargo";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="NovoCargo" class="btn btn-outline-info">Novo Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="EditarCargo" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-outline-info" asp-action="DetalhesCargo" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-outline-info" asp-action="DeletarCargo" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<vc:pagination model-pagination="@Model"></vc:pagination>