@model PaginacaoViewModel<ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-info" asp-action="NovoProduto">Novo Produto</a>
</p>
<vc:summary></vc:summary>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Código de barras
            </th>
            <th>
                Quantidade em estoque
            </th>            
            <th>
                Valor
            </th>
            <th>
                Categoria
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>            
            <td>
                <a class="btn btn-outline-info" asp-action="EditarProduto" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-info" asp-action="DetalhesProduto" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-outline-info" asp-action="DeletarProduto" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
