@model PaginacaoViewModel<FuncionarioViewModel>

@{
    <br />
    ViewData["Title"] = "Lista de Funcionários";
       
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-info" asp-action="NovoFuncionario">Novo Funcionário</a>
</p>
<vc:summary></vc:summary>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome Completo
            </th>
            <th>
                CPF
            </th>
            <th>
                Nascimento
            </th>
            <th>
                Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @item.NomeCompleto
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.Nome)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="EditarFuncionario" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-outline-info" asp-action="DetalhesFuncionario" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-outline-info" asp-action="DeletarFuncionario" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<vc:pagination model-pagination="@Model"></vc:pagination>