@model FrigobarViewModel
@{
    ViewData["Title"] = "Frigobar";
    var quartoId = Context.Request.Query["quartoId"];
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-12">        
        <form asp-action="AdicionarProdutoFrigobar" method="get">
            <input hidden="hidden" name="id" value="@quartoId" />
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Produtos</label>
                    <select name="produtoId" class="form-control" asp-items="@(new SelectList(Model.ListaProdutos,"Id","Nome"))"><option></option></select>
                    <span class="text-danger"></span>
                </div>
           
                <div class="form-group">
                    <label class="control-label">Quantidade Produtos</label>
                    <input name="quantidade" class="form-control" type="number" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar Produto" class="btn btn-primary" />
            </div>
        </form>
        
        
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Produto
                    </th>
                    <th>
                        Código do produto
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Valor
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProdutosFrigobar)
                {
                    <tr>
                        <td>
                            @item.Produto.Nome
                        </td>
                        <td>
                            @item.Produto.CodigoBarras
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Valor
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="RemoverProdFrigobar">Remover</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}