@model PaginacaoViewModel<GrupoFuncionarioViewModel>

@{
    <br />
    ViewData["Title"] = "Grupos de Acesso";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-action="NovoGrupo">Novo Grupo</a>
</p>
<vc:summary></vc:summary>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
            <td>
                <a class="btn btn-primary" asp-action="EditarGrupo" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-secondary" asp-action="DetalhesGrupo" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger" asp-action="DeleteGrupo" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<vc:pagination model-pagination="@Model"></vc:pagination>