@model AnuncioViewModel
@{
    ViewData["Title"] = "DetalhesAnuncio";
    
}



<div class="container marketing">
    <div class="row">
        
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <br /><br /><br /><br />
                        <div class="thumbs-wrap">
                            @{ foreach (var item in Model.Fotos)
                                            {
                                <a href="#" class="item-thumb"> <img src="~/imagem/anuncio/@item.Caminho" width="500"></a> } }
                        </div>
                    </article>
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <br /><br />
                        <h2 class="title">@Model.Nome</h2>

                        <div class="rating-wrap my-3">
                            <small class="label-rating text-muted">132 reviews</small>
                            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                        </div>
                        <div class="mb-3">
                            <var class="price h4">@Model.Custo.ToString("C")</var>
                            <span class="text-muted">/por noite</span>
                        </div>
                        <div class="mb-3">
                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Quarto.Hidromassagem)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(model => model.Quarto.Hidromassagem)
                            </div>

                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Quarto.Televisor)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(model => model.Quarto.Televisor)
                            </div>

                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Quarto.CamaCasal)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(model => model.Quarto.CamaCasalQuantidade)
                            </div>

                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Quarto.CamaSolteiro)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(model => model.Quarto.CamaSolteiroQuantidade)
                            </div>

                            <div class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Quarto.CamaBeliche)
                            </div>
                            <div class="col-sm-6">
                                @Html.DisplayFor(model => model.Quarto.CamaBelicheQuantidade)
                            </div>
                        </div>

                        <div class="mb-3">
                        </div>

                        <p>@Model.Quarto.Descricao</p>

                        <hr>

                        <a asp-action="IniciarReserva" asp-controller="CheckoutReserva" asp-route-anuncioId="@Model.Id" class="btn  btn-primary"> Reservar </a>
                        <br /><br />
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>