@model IEnumerable<AnuncioViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" src="~/imagem/carrossel/1.jpg" width="100%" height="100%" />

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Andre Mendes</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="~/imagem/carrossel/2.jpg" width="100%" height="100%" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="~/imagem/carrossel/3.jpg" width="100%" height="100%" />

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container marketing">


    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="~/imagem/anuncio/347d3a73-d777-400a-98ca-7a698d0ac501.jpg" width="140" height="140" />
            <h2>Heading</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="~/imagem/anuncio/347d3a73-d777-400a-98ca-7a698d0ac501.jpg" width="140" height="140" />

            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="~/imagem/anuncio/347d3a73-d777-400a-98ca-7a698d0ac501.jpg" width="140" height="140" />

            <h2>Heading</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
    </div>

    @{
        int contador = 1;
        foreach (var item in Model)
        {
            if (contador != 2)
            {
                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">@item.Nome</h2>
                        <p class="lead">@item.Quarto.Descricao</p>
                    </div>
                    <div class="col-md-5">
                        <a asp-action="DetalhesAnuncio" asp-controller="Home" asp-route-anuncioId="@item.Id"><img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/imagem/anuncio/@item.Fotos.First().Caminho" width="500" height="500" /></a>
                    </div>
                </div>
            }
            else
            {
                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading">@item.Nome</h2>
                        <p class="lead">@item.Quarto.Descricao</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <a asp-action="DetalhesAnuncio" asp-controller="Home" asp-route-anuncioId="@item.Id"><img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/imagem/anuncio/@item.Fotos.First().Caminho" width="500" height="500" /></a>
</div>
                </div>
            }
            contador++;
        }
    }   

    <hr class="featurette-divider">

</div>

